<schema>
  <ul>
    <li each={ label, id in this.categories }><a href="#schema/{ id }" class='{ on: this.opts.id && this.opts.id.startsWith(id) }' title={ id }>{ label }</a></li>
  </ul>
  <schema-entries if={ this.category } items={this.items} name={ this.categories[this.category] }></schema-entries>

  <style scoped>
    :scope.tools {
      min-width: 1200px;
      grid-template-columns: 1fr 4fr;
    }
    dd ul {
      padding-left: 10px;
    }
  </style>

  <script>
    this.items = {}
    this.category = null
    this.categories = {
      constante: 'Propriétés constantes',
      beneficiaire: 'Propriétés du bénéficiaire',
      formation: 'Propriétés de la formation',
      financement: 'Propriétés du financement',
    }
    this.on('mount', () => this.load())

    this.load = () => {
      if (this.opts.id) {
        this.category = this.opts.id.split('.')[0]
        for (let key in SCHEMA) {
          if (key.startsWith(this.category)) this.items[key] = SCHEMA[key]
        }
      }
      this.update();
      // Force element target after DOM has been rebuilt
      // (:target is not active otherwise).
      window.location.hash = window.location.hash
    }

    this.mixin(View)
  </script>

</schema>

<schema-entries>
  <h2>{ this.opts.name } <a href=https://framagit.org/ybon/trefle/tree/master/trefle/config/schema.yml target=_blank><i class=icon>edit</i></a></h2>
  <dl each={ props, key in this.opts.items } id='schema/{ key }'>
    <dt>{props.label || props.description} <a href="#schema/{ key }" class=anchor>#</a></dt>
    <dd if={ props.value }><strong>Valeur constante</strong> { renderValue(key, props.value) }</dd>
    <dd if={ props.description }><strong>Description</strong> {props.description}</dd>
    <dd if={ props.source }><strong>Source</strong> {props.source}</dd>
    <dd if={ props.xpath }><strong>LHEO</strong> {props.xpath}</dd>
    <dd if={ props.url }><strong>Ressource externe</strong> <a href="{ props.url }">{ props.url }</a></dd>
    <dd if={ props.enum }>
      <strong>Valeurs possibles</strong>
      <ul>
        <li each={ label, key in props.enum }>{ key }: { label }</li>
      </ul>
    </dd>
    <dd><strong>Clé interne</strong> { key }</dd>
    <dd><strong>Type interne</strong> { props.type }</dd>
  </dl>
  <hr>

  <style scoped>
    hr {
      border: none;
      border-top: 1px solid #eee;
    }
    .anchor {
      font-weight: normal;
      font-style: italic;
    }
    dl:target {
      background-color: #ddd;
    }
  </style>

</schema-entries>
